*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0c0c0c;
    color:rgb(250, 250, 245);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo {
    height: 50px;
        width:100px ;

}


.logo{
    background-image: url("logo.jpeg");
    background-size: cover;
    height: 50px;
    width: 120%;
}
.border {
    border: 1.5px solid transparent;

}
.border:hover {
    border: 1.5px solid white;
}
/** box2 **/
.add-first {
    color:#cccccc;
    font-size: .85rem; 
margin-left:15px ;
}
.add-sec {
    font-size: 1rem;
    margin-left: 3px;

}
.add-icon {
    display: flex;
    align-items: center;
}
/** box3 **/
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px ;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
border: none;
}
.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem ;
    background-color: #45913b;
    color: #0f1111;
     border-top-right-radius: 4px ;
    border-bottom-right-radius: 4px;

   
}
.nav-search:hover {
    border:3px solid #febd68;
}
/** box4 **/
span {
    font-size: .7rem;
}
.nav-second{
    font-size: .85rem;
    font-weight: 700;
    display: flex;
}
/** box5 **/
.nav-cart i {
    font-size:30px;

}
.nav-cart {
    font-size: 0.85rem;
    font-weight: 800px;
}
/** panel **/
.panel {
    height: 40px;
    background-color: #3f7223;
        display: flex;
        color: #c9eed1;
        align-items: center;
        justify-content: space-evenly;
}
.panel-ops p {
    display: inline;
    margin: 15px;
}
.panel-ops {
    width: 70%;
    font-size: .85rem;
}
.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;

}
/** hero section**/
.hero-section {
    background-image:url(bg.jpeg);
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-encd;
}
.hero-msg {
    background-color: white;
    color:black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:0.85rem ;
    width: 100%;
    margin-bottom: 25px;
}
.hero-msg a{
    color: #007185;
}
/** shop section**/
.shop-section {
    display: flex;
      flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.shop-section button{
    background-color: #53e8a0;
    border: none;
    height: 30px;
    width: 80px;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
}
.box {
   /* border: 2px solid black;*/
    height: 370px;
    width: 23%;
    background-color: rgb(179, 201, 128);
    padding: 20px 0px 15px;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
}
.box-img {
    height: 250px;
    width: 250px;
    background-size: cover;
    background-repeat: no-repeat;
   /*margin-top: 2rem;
    /*margin-bottom: 2rem;
*/
    }
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color: #010404;
    font-weight: 700;
    font-size: 700;
}